spring:
  datasource:
    url: jdbc:mysql://localhost:3306/your_database_name
    username: root
    password: 2533
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
server:
   port: 8080